@import "../main";

.login {
  position: relative;
  height: calc(100% - 56px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  z-index: 1;

  .logoContainer {
    img {
      mix-blend-mode: darken;
      height: 97px;
      width: 383px;
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 32px 24px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    margin-top: 24px;
    margin-bottom: 24px;

    .signin-heading {
      font-weight: 700;
      font-size: 16px;
    }

    form {
      #toc {
        width: max-content;
        margin-top: 12px;
        margin-right: 8px;
      }

      #signInButton {
        // width: 100%;
      }
    }

    @include sm {
      padding: 24px 16px;
    }
  }

  .bottom-details {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  @include sm {
    height: calc(100% - 74px);
  }
}
