@import '../main';

.login {
  position: relative;
  height: calc(100% - 56px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  z-index: 1;

  .logoContainer {
    height: 56px;
    mix-blend-mode: darken;

    img {
      height: 100%;
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 32px 24px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    margin-top: 32px;
    margin-bottom: 24px;

    .signin-heading {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 16px;
    }

    form {
      .form-body {
        .form-fields {
          display: flex;
          list-style-type: none;
          border: 1px solid #EBEBEB;
          border-radius: 4px;

          .dot {
            background-color: #FAFAFA;
            border-left: 1px solid #E6E6E6;
            border-right: 1px solid #E6E6E6;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 10px;
            display: flex;
            align-items: flex-end;
          }

          .input-group {
            width: calc(50% - 12px);
          }

          #select {
            position: relative;
            display: flex;
            margin-left: 12px;

            select {

              width: calc(100% - 12px);
              border: none;
              outline: none;

            }
          }

          input {
            font-weight: 300;
            color: #4A4848;
            padding: 14px 16px;
            border: none;
            outline: none;
          }
        }

        .btn-primary {
          width: 100%;
          margin: 0;
          margin-top: 16px;
          font-weight: 300;
          background-color: #c33329;
          border: none;
          color: #ffffff;
          border-radius: 3px;
          font-size: 14px;
          font-weight: bold;
          padding: 12px 18px;

          &:hover {
            background-color: #9B1D1C;
            cursor: pointer;
            outline: none;
          }
        }

        .url-link {
          margin-top: 16px;
          display: block;
          text-decoration: none;
          font-weight: 700;
          color: #C02524;
        }
      }
    }

  }

  .bottom-details {
    max-width: 320px;
    width: 100%;
    text-align: center;

    .web-resources {
      font-weight: 700;
    }

  }

  @include sm {
    height: calc(100% - 74px);
  }

}

// .options {
//     display: flex;
//     flex-direction: column;

//     ul {
//         list-style-type: none;
//         padding: 0;
//         margin: 0;

//         li {
//             position: relative;
//             display: flex;
//             align-items: center;
//             color: #4A4848;
//             text-decoration: none;
//             padding: 16px;
//             background-color: #fafafa;
//             border: 1px solid #EBEBEB;

//             &:not(:first-child) {
//                 border-top: none;
//             }

//             .img-wrapper {
//                 width: 64px;
//                 height: 64px;
//                 margin-right: 16px;

//                 img {
//                     width: 64px;
//                     height: 64px;
//                     object-fit: cover;
//                     border-radius: 50%;
//                 }

//             }

//             .details {
//                 position: relative;
//                 flex-grow: 1;
//                 text-align: left;
//                 z-index: 1;

//                 .name {
//                     font-size: 16px;
//                 }

//                 .emails {
//                     font-size: 12px;
//                     color: #A1A1A1;
//                     display: flex;
//                     flex-direction: column;
//                     margin-top: 4px;

//                     .email-1 {
//                         display: block;
//                         margin-bottom: 4px;
//                     }

//                 }

//             }


//             &::after {
//                 position: relative;
//                 justify-self: flex-end;
//                 height: 16px;
//                 width: 12px;
//                 background-size: contain;
//                 content: ' ';
//                 background-image: url('/assets/img/right-arrow@3x.png');
//                 background-repeat: no-repeat;
//                 z-index: 2;
//             }

//             @include sm {
//                 .img-wrapper {
//                     display: none;
//                 }
//             }


//         }

//         .choose {
//             margin-top: 16px;
//             display: block;
//             text-decoration: none;
//             font-weight: 700;
//             color: #C02524;
//         }
//     }
// }