@import '../main';

/* BySy Ovr */
#bysy_container,
#bysy_overlay,
#bysy_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#bysy_container {
  display: grid;
  place-items: center;
  z-index: 3;

  #bysy_dialog {
    img {
      width: 56px;
      height: auto;
    }
  }
}

#bysy_overlay {
  background-color: colorOpacity(getColor(Light), 50);
  backdrop-filter: saturate(150%) blur(30px);
}

#container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid tint(getColor(Gray), 70);

    #logo {
      mix-blend-mode: darken;

      img {
        height: auto;
        width: 180px;
        padding-top: 0 !important;
        transform: translateX(-8px);
      }

    }

    #mainTitle {
      h4 {
        font-size: 14px;
        font-weight: 600;
      }
    }

    @include sm {
      flex-direction: column;
    }

  }

  #content {
    width: 100%;
    flex-grow: 1;
    display: grid;
    place-items: center;

    #id1 {
      width: 100%;
      max-width: 400px;
      background: #ffffff;
      padding: 32px 24px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

      #id5 {

        fieldset {
          padding: 0;
          margin: 0;
          border: 0;

          legend {
            font-size: 14px;
            margin-bottom: 12px;
          }
        }

        button {
          width: 100%;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #ffffff;
          padding: 14px 16px;
          border: 1px solid transparent;
          border-radius: 3px;
          background-color: #b6121b;
          margin-top: 12px;

          &:hover,
          &:focus {
            background-color: #9b1d1c;
            cursor: pointer;
            outline: none;
          }
        }

        table {
          width: 100%;
          border-spacing: 0;

          tr td {
            width: 100%;

            &:nth-child(1) {
              display: none;
            }

            input[name='userDetailsContainer:userContentPanel:identity'] {
              margin: 0;
              padding-left: 48px;
              background-image: url("../../assets/icons/email@2x.png");
              background-repeat: no-repeat;
              background-size: 24px auto;
              background-position: 12px;
            }

          }
        }

      }

      @include sm {
        padding: 24px 16px;
      }


    }
  }

  #footer {
    width: 100%;
    font-size: 12px;
    padding-top: 16px;
    border-top: 1px solid tint(getColor(Gray), 80);
    text-align: center;
    color: getColor(Crimson);
  }


}