#progressbar_bysy_overlay,
#bysy_overlay,
#bysy_container {
  display: none;
}

/* Body Start */
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 24px;

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;

    #logo {
      a {
        img {
          height: 46px;
          width: 180px;
          padding-top: 0 !important;
        }
      }
    }

    #mainTitle {
      h4 {
        font-size: 16px;
        font-weight: 600;
      }
    }

    @include sm {
      flex-direction: column;

      #mainTitle {
        margin-top: 12px;
      }
    }
  }

  #content {
    display: grid;
    width: 100%;
    flex-grow: 1;
    place-items: center;

    form {
      width: 100%;
      max-width: 400px;
      background: #ffffff;
      padding: 32px 24px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

      #id7 {
        fieldset {
          border: none;
          padding: 0;
          margin: 0;

          legend {
            display: none;
          }

          table {
            tbody {
              display: flex;
              flex-direction: column;

              tr {
                &:nth-child(1) {
                  display: flex;
                  flex-direction: column;

                  td {
                    &:nth-child(1) {
                      font-size: 14px;
                      margin-bottom: 12px;
                    }
                  }
                }

                &:nth-child(2) {
                  margin-top: 8px;

                  td {
                    font-size: 14px;
                    color: rgba(74, 72, 72, 0.5);
                  }
                }

                &:nth-child(3) {
                  display: flex;

                  td {
                    &:nth-child(2) {
                      width: 100%;

                      button {
                        width: 100%;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                        color: #ffffff;
                        padding: 14px 16px;
                        border: 1px solid transparent;
                        border-radius: 3px;
                        background-color: #b6121b;
                        margin-top: 16px;
                      }
                    }
                  }
                }

                &:nth-child(4) {
                  display: flex;
                  flex-direction: column;

                  td {
                    &:nth-child(2) {
                      width: 100%;
                      text-align: center;
                      margin-top: 16px;

                      a {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      @include xs {
        padding: 16px 12px;
      }
    }
  }

  #footer {
    font-size: 12px;
    padding-top: 16px;
    border-top: 1px solid #ebebeb;
    text-align: center;
    color: #c1171b;
  }
}
