/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/

input {
  width: 100%;

  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="tel"] {
    font-family: "Roboto", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #4a4848;
    padding: 14px 16px;
    border: 1px solid #ebebeb;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  &[type="submit"] {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 14px 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #b6121b;

    &:hover,
    &:focus {
      background-color: #9b1d1c;
      cursor: pointer;
      outline: none;
    }
  }

}