/* 
    Set default global style for table element:
    e.g. <table></table>, .table
*/

table {
    width: 100%;

    tr {
        padding: 0;
        margin: 0;

        td {
            padding: 0;
            margin: 0;
        }


    }
}