/* 
    Set default global style for table element:
    e.g. <table></table>, .table
*/

form {
    table {
        width: 100%;

        tbody {
            tr {
                td {

                    &:first-child {
                        display: none;
                    }
                }
            }


            #password-error {
                display: flex;
                color: getColor(Crimson);
                margin-top: 8px;
                font-size: 12px;
                font-weight: 700;
                justify-content: center;
            }
        }
    }
}